<div class="container">
  <div class="row">
  <div class="col-md-12" id="welcome-page">
    <h1>Hi there! My name is <br><span class="my-name"> Ali FitzGerald</span>.</h1>
    <div class="me"><%= image_tag ("me.png"), :class => 'me' %> </div><h2> What's your name? <input ng-model="name" id="input" type="text" /><h2>
      <span id="welcome"> How'd you find me, {{name}} !?! </span>
    </div>
    <div class ="description">
    <p>I am a freelance ruby/rails developer, copywriter, blogger and designer. I'm your virtual Target. You can find it all here! <%= mail_to "alikfitz@gmail.com", "Email Me" %> for job inquiries. Check out my work below. <p>
    </div>
    <div>
        <ul class="list">
        <li><%= link_to "My Resume", "resume" %></li>
        <li><%= link_to "Work", "https://www.ghostwrite.io"  %></li>
        <li><%= link_to "Other Work", "https://www.swagdogwalking.com"  %></li>
        <li><%= link_to "Blogging", "https://www.ghostwrite.io/blog" %></li>
      </ul>
    </div>
  </div>
</div>

<section id="todoapp" ng-controller="MainCtrl">
  <ng-view></ng-view>
  <h1>What's up?</h1>
  <header id="header">
    <form id="todo-form" ng-submit="save(activeTodo)">
      <input 
      id="new-todo" 
      placeholder="Ex: check out Ali's resume" 
      ng-model="activeTodo.title" 
      autofocus>
    </form>
  </header>

  <section id="main" ng-show="todos.length" ng-cloak>
    <input 
    id="toggle-all" 
    type="checkbox" 
    ng-model="checked"
    ng-click="checkAll(checked)">
    <label for="toggle-all">Mark all as complete</label>

    <ul id="todo-list">
      <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
        <div class="view">
          <input 
          class="toggle" 
          type="checkbox" 
          ng-model="todo.completed"
          ng-click="checkAndSave(todo)">
          <label ng-dblclick="edit(todo)">{{todo.title}}</label>
          <button class="destroy" ng-click="remove(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="todos.length" ng-cloak>
    <span id="todo-count"><strong>{{remainingCount}}</strong>
      <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }">
      </ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a ng-class="{selected: status == ''} " href="#/">All</a>
      </li>
      <li>
        <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
      </li>
      <li>
        <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
  </footer>

  <footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Credits:
      
    Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</section>